<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Solar System</string>
    <key>CFBundleIdentifier</key>
    <string>com.joelvaz0x01.solar-system</string>
    <key>CFBundleName</key>
    <string>Solar System OpenGL</string>
    <key>CFBundleDisplayName</key>
    <string>Solar System OpenGL</string>
    <key>CFBundleVersion</key>
    <string>{{VERSION}}</string>
    <key>CFBundleShortVersionString</key>
    <string>{{VERSION}}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>SOLR</string>
    <key>CFBundleIconFile</key>
    <string>{{ICON_NAME}}</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.education</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Joel Vaz. All rights reserved.</string>
</dict>
</plist>
