[Desktop Entry]
Type=Application
Name=Solar System
Comment=3D Solar System Simulation
Exec=solar_system
Icon=solar-system
Categories=Education;Science;Graphics;
Keywords=Space;Planet;Simulation;OpenGL;3D;
StartupNotify=true
Terminal=false
GenericName=Solar System Simulator
Actions=
